<body class="{{ bodyClass }}">
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="over" autosize>
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/home"
          class="side-nav-item"
          (click)="sidenav.toggle()"
        >
          <mat-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>

      <a
        mat-button
        class="login"
        routerLink="/login"
        (click)="sidenav.toggle()"
      >
        <mat-icon>person</mat-icon> Login
      </a>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="header">
        <button
          *ngIf="isBiggerScreen()"
          mat-icon-button
          class="nav-tool-items"
          (click)="sidenav.toggle()"
        >
          <mat-icon class="menu" aria-hidden="false" aria-label="Delete Entry"
            >menu</mat-icon
          >
        </button>
        <button mat-button routerLink="/home">
          <img src="assets/images/gwens-logo-white-01.svg" alt="" />
        </button>
        <div id="nav-buttons" *ngIf="!isBiggerScreen()">
          <button mat-button routerLink="/home">
            Home
          </button>
        </div>
        <span class="navbar-fill"></span>
        <button mat-icon-button (click)="toggleDark()">
          <mat-icon
            class="deletePerson"
            aria-hidden="false"
            aria-label="Delete Entry"
            >{{ darkIcon }}</mat-icon
          >
        </button>
        <button
          mat-button
          *ngIf="!isBiggerScreen() && !getAccount()"
          routerLink="/login"
        >
          <b>LOGIN</b>
        </button>
        <button
          mat-button
          [matMenuTriggerFor]="accountMenu"
          *ngIf="!isBiggerScreen() && getAccount()"
        >
          {{ getAccount().username }}</button
        ><mat-menu #accountMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Account</span>
          </button>
          <button mat-menu-item (click)="accountService.logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar>
      <div class="page-content">
        <router-outlet id="content"></router-outlet></div
    ></mat-sidenav-content>
  </mat-sidenav-container>
</body>
<!-- Toolbar -->
